body {
	background-color: C0C0C0; 
	margin: auto;
	margin: 20px;
	width: 1300px;
	background-color: lightgray;
	padding: 10px;
}
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
background: #336699;

}



.menu_grey {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
text-align: left;	
background: #C0C0C0;

}

.nadpis_small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: mediumblue;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20;
	

}

	
.content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 10px;
	background-color: whitesmoke;
	
}


.copy {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;

}




a.obsah{
	font-weight: bold;
	text-decoration: underline;
	color: black;
	
}



.table-style {
	text-align: center;
}