a {
    color: blue;
    
}

.text-smaller {
    font-size: smaller;
}

ol {
    font-size: smaller;
}

ul {
    font-size: smaller;
    font-style: italic;
    list-style-type: none;
}
.img-inner {
    height: 100%; width: 100%; object-fit: contain
}

.text-underline {
    text-decoration: underline;
}

.logos {
    max-height: 50px;
    margin: 5px;
}